
.input-validation-error {
    background-color: #ff0000;
}
.field-validation-error {
    color: #ff0000;
}
.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid {
    display: none;
}